body {
  background: #1e1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.container {
  text-align: center;
}

/* --- BOTÓN --- */
#dailyButton {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  background: #d94a4a;
  border: 4px solid #8b2626;
  padding: 30px 50px;
  color: white;
  cursor: pointer;
  box-shadow: 0 6px #8b2626;
  transition: all 0.1s ease-in-out;
}

#dailyButton:active:not(:disabled) {
  box-shadow: 0 2px #8b2626;
  transform: translateY(4px);
}

#dailyButton:disabled {
  background: #732b2b;
  border-color: #4b1a1a;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.7;
}

#info {
  font-size: 10px;
  margin-top: 20px;
  color: #bbb;
}

/* --- TEXTOS FIJOS EN ESQUINAS --- */
.infoText {
  position: absolute;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
}

#top-left {
  top: 10px;
  left: 10px;
}
#top-center {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', monospace;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 1.4;
}

#top-right {
  top: 10px;
  right: 10px;
  text-align: right;
}

#bottom-left {
  bottom: 10px;
  left: 10px;
}

#bottom-right {
  bottom: 10px;
  right: 10px;
  text-align: right;
}
